*.o
*.a
**/core/*
**/shcl/*
**/shmx/*
**/shmcl/*
**/shmcx/*
mcxquery
Programs/blast-*

Programs/MSOAR/MSOAR
Programs/addOutgroup
Programs/familySeparator
Programs/getTopHits
Programs/mapToPhylip
Programs/normalizeScores
Programs/postprocessing
Programs/removeInparalogs
Programs/tagGenerator
Programs/treeTran
